*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.header {
    background: #202020;
    display: block;
    margin: 0;
}
    .logo {
        letter-spacing: 5px;
        font-size: 1.3em;
    }
    .logo-principal {
        width: 200px;
        display: block;
        margin: auto;
    }

.titulo{
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    margin-top: 50px;
}

.europa{
    text-align: center;
    color: darkgrey;
    font-weight: bold;
    font-size: 32px;
    margin-top: 30px;
}

.edukia{
    font-size: 24px;
    margin-left: 70px;
    margin-top: 40px;
}

.capitulos{
    font-size: 18px;
    margin-left: 90px;
    margin-top: 30px;
    color: darkgrey;
    font-weight: bold;
    text-decoration: none;
}

.titulillos{
    font-size: 24px;
    margin-top: 40px;
    margin-left: 70px;
}

.texto{
    margin-top: 10px;
    margin-left: 100px;
    margin-bottom: 50px;
    color: dimgrey;
}
.margen{
    margin-top: 200px;
}


/*FOOTER*/
.footer-container {
    width: 100%;
    display: inline-block;
    flex-wrap: wrap;
    background: #202020;
    padding: 1rem 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
    .ultimos-botones {
        float: center;
        padding: 0;
        margin-top: 15px;
        background: #202020;
    }
        .ultimos-botones ul {
            list-style-type: none;
        }
        .ultimos-botones li {
            margin-left: 43,5%;
            padding: 4px;
        }
            .ultimos-botones li a{
                background: transparent;
                color: black;
                font-size: 14px;
                font-weight: bold;
                margin-left: 43.9%;
                max-width: 15px;
                min-width: 12%;
                width: 12%;
                display: block;
                padding: 0.5rem 1rem;
                text-decoration: none;
                border-radius: 400px;
                padding: 4px;
            }
                
    .img {
        width: 70%;
        display: block;
        margin: auto;
        margin-bottom: 15px;
    }

    .copyright {
        width: 100%;
        background: black;
        display: flex;
        padding: 20px;
        color: white;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-top: 0;
    }
        .copyright a {
            text-align: center;
            display: block;
            color: white;
            text-decoration: none;
            padding: 0.5rem 1rem;
            transition: all 0.4s linear;
            border-radius: 7px;
            font-weight: bold; 
        }
            .copyright a:hover {
                background: #ce0000;
            }
            